@font-face {
  font-family: 'nanamibook';
  src: url('../type/nanami-book-webfont.eot');
  src: url('../type/nanami-book-webfont.eot?#iefix') format('embedded-opentype'),
       url('../type/nanami-book-webfont.woff2') format('woff2'),
       url('../type/nanami-book-webfont.woff') format('woff'),
       url('../type/nanami-book-webfont.ttf') format('truetype'),
       url('../type/nanami-book-webfont.svg#nanamibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'nanamibook';
  src: url('../type/nanami-bold-webfont.eot');
  src: url('../type/nanami-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../type/nanami-bold-webfont.woff2') format('woff2'),
       url('../type/nanami-bold-webfont.woff') format('woff'),
       url('../type/nanami-bold-webfont.ttf') format('truetype'),
       url('../type/nanami-bold-webfont.svg#nanamibold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'nanamithin';
  src: url('../type/nanami-thin-webfont.eot');
  src: url('../type/nanami-thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../type/nanami-thin-webfont.woff2') format('woff2'),
       url('../type/nanami-thin-webfont.woff') format('woff'),
       url('../type/nanami-thin-webfont.ttf') format('truetype'),
       url('../type/nanami-thin-webfont.svg#nanamibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  line-height: auto;
}
/**, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/
h1 {
  line-height: 1;
  font-weight: normal;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  font-family: nanamibook;
  margin: 50px;
}
ol {
  list-style: decimal-leading-zero;
}
.small-type {
  font-size: 15px;
}
/* Home Page
-------------------------------------*/
.home-cols {
  overflow: hidden;
}
[class^=home-col-] {
  float: left;
  position: relative;
  width: 190px;
}
.home-col-3,
.home-col-4 {
  padding-top: 184px;
}
  .home-counter {
    position: absolute;
    font-size: 10px;
  }
.home-content {
  margin-top: -45px;
  margin-left: 10px;
}
.home-content h1 {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.home-content ol {
  /*list-style-type: none;*/
  list-style-position: inside;
}

/* Time Machine
-------------------------------------*/
.horizontal-wrapper {
  white-space: nowrap;
  font-size: 0;
}
.horizontal-item {
  position: relative;
  display: inline-block;
  min-width: 400px;
  margin-right: 250px;
  height: 620px;
  font-size: 18px;
  vertical-align: middle;
}
/* Horizontal stuff
-------------------------------------*/
.tm-item::before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 1px;
  margin-right: -1px;
  vertical-align: middle;
  visibility: hidden;
}

.vertical-centered-container::before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 1px;
  margin-right: -1px;
  vertical-align: middle;
  visibility: hidden;
}

.vertical-centered {
  display: inline-block;
  vertical-align: middle;
}


/* Grid
-------------------------------------*/
.grid,
[class*='col-'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
[class*='col-'] {
  float: left;
  padding-right: 20px;
  min-height: 1px;
  overflow: hidden;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-3-4 {
  width: 75%;
}
.col-1-8 {
  width: 12.5%;
}
.bottom {
  margin-bottom: 30px;
}

/* Splash page */
.tm-splash {
  min-width: 1100px;
  margin-right: 20%;
}
.tm-splash-title {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  color: #EC8333;
}
  .tm-splash-title span {
    color: #000;
  }
  .tm-splash-intro {
    position: absolute;
    bottom: 0;
    left: 20%;
  }
  .tm-control-panel {
    position: absolute;
    top: 16px;
    right: 3%;
    overflow: hidden;
    width: 600px;
    height: 600px;
    border-radius: 310px;
    border: 2px solid black;
  }
  .tm-control-panel a {
    position: absolute;
    font-size: 22px;
    margin-left: -30px;
  }
  /* 1551 */
  .tm-control-panel a:nth-child(1) {
    left: 220px;
    top: 80px;
  }
  /* 1800 */
  .tm-control-panel a:nth-child(2) {
    left: 315px;
    top: 60px;
  }
  /* 1830 */
  .tm-control-panel a:nth-child(3) {
    left: 420px;
    top: 90px;
  }
  /* 1851 */
  .tm-control-panel a:nth-child(4) {
    left: 310px;
    top: 140px;
  }
  /* 1860 */
  .tm-control-panel a:nth-child(5) {
    left: 220px;
    top: 180px;
  }
  /* 1881 */
  .tm-control-panel a:nth-child(6) {
    left: 400px;
    top: 180px;
  }
  /* 1890 */
  .tm-control-panel a:nth-child(7) {
    left: 490px;
    top: 160px;
  }
  /* 1910 */
  .tm-control-panel a:nth-child(8) {
    left: 300px;
    top: 250px;
  }
  /* 1930 */
  .tm-control-panel a:nth-child(9) {
    left: 100px;
    top: 220px;
  }
  /* 1931 */
  .tm-control-panel a:nth-child(10) {
    left: 120px;
    top: 390px;
  }
  /* 1950 */
  .tm-control-panel a:nth-child(11) {
    left: 300px;
    top: 400px;
  }
  /* 1960 */
  .tm-control-panel a:nth-child(12) {
    left: 470px;
    top: 350px;
  }
  /* 1998 */
  .tm-control-panel a:nth-child(13) {
    left: 150px;
    top: 450px;
  }
  /* 2014 */
  .tm-control-panel a:nth-child(14) {
    left: 400px;
    top: 500px;
  }
/* Intro */
.tm-intro {
  padding-left: 0!important;
  min-width: 600px;
}
.tm-quote {
  margin: 0 0 120px;
}
  .tm-quote h1 {
    background: url(../../imgs/tm/1.png) no-repeat;
    padding: 20px 0 0 100px;
    color: #EC8333;
    font-weight: normal;
    margin: 50px 0 30px -100px;
  }
  .tm-quote cite {
    font-size: 20px;
    font-style: normal;
  }
/* Years */
.tm-year {
  font-size: 5em;
  width: 600px;
  text-align: center;
}
.tm-content {
  white-space: normal;
  line-height: 1.5;
  min-width: 400px;
  max-width: 620px;
}
.tm-content img {
  margin-bottom: 30px;
}

#y1551 {
  min-width: 600px;
}

#y1800 {
  min-width: 1000px;
}
  #y1800 h1 {
    background: url(../../imgs/tm/3.png) no-repeat;
    padding: 30px 0;
    margin: 0 100px 0 -30px;
    width: 520px;
  }
  #y1800 .tm-content {
    max-width: 700px;
    /*border-left: 2px solid #ddd;*/
    margin-left: 50px;
    padding-left: 50px;
  }
  #y1800 .module {
    margin-right: 40px;
  }
  #y1800 .module img {
    width: 100%;
  }

#y1830 .tm-content {
  border: 2px solid #000;
  padding: 1em;
  min-width: 800px;
  background: url(../../imgs/tm/5.png) 65% 50% no-repeat;
}

#y1851 h1 {
  background: url(../../imgs/tm/1.png) repeat;
  padding: 40px;
  padding-right: 180px;
  margin-right: -100px;
  width: auto;
}

#y1860 h1 {
  background: url(../../imgs/tm/7-0.png) no-repeat;
  padding: 120px 0;
  width: 443px;
}

#y1881 h1 {
  background: url(../../imgs/tm/8-0.png) no-repeat;
  height: 446px;
  line-height: 446px;
  width: 450px;
  text-align: left;
}

#y1881 .banner {
  position: relative;
}
#y1881 .banner img {
  margin: 0;
}
#y1881 .banner p {
  position: absolute;
  bottom: 45px;
  left: 90px;
  right: 90px;
  text-align: center;
}
#y1881 div:nth-child(3) {
  width: 350px;
  color: #ff9400;
  text-align: justify;
  line-height: 2;
  margin-left: 120px;
}

#y1890 h1 {
  background: url(../../imgs/tm/9-0.png) center right no-repeat;
  padding: 20px 50px;
  width: 320px;
  margin-right: 40px;
  margin-left: -50px;
}

#y1890 .tm-content {
  vertical-align: bottom;
  width: 380px;
  line-height: 1.75;
}

#y1910 h1 {
  background: url(../../imgs/tm/9-0.png) center no-repeat;
  padding: 20px 0;
}

#y1910 .tm-content {
  max-width: 900px;
}
#y1910 .legend {
  margin-bottom: 40px;
}

#y1930 h1 {
  background: url(../../imgs/tm/12.png) center no-repeat;
  padding: 23px;
  margin-left: -240px;
}

#y1930 .caption {
  position: absolute;
  margin-left: -34px;
  top: 75%;
  transform-origin: 0 0;
  transform: rotate(-90deg);
}

#y1930 .tm-content {
  max-width: 854px;
  vertical-align: bottom;
  margin-right: 60px;
}
#y1930 .tm-content:nth-child(3) {
  max-width: 600px
}

#y1930s h1 {
  background: url(../../imgs/tm/12.png) left no-repeat;
  padding: 30px 0 30px 134px;
  margin-left: -300px;
}

#y1930s .tm-content {
  max-width: 770px
}

#y1960s-2000s .tm-year {
  background: url(../../imgs/tm/16.png) center bottom no-repeat;
  height: 600px;
  line-height: 600px;
  width: 1000px;
}

#y1960s-2000s .tm-content {
  position: relative;
  max-width: 900px;
}
#y1960s-2000s .tm-content:nth-child(2) {
  margin-right: 300px;
}
#y1960s-2000s .tm-content:nth-child(3) {
  vertical-align: bottom;
  margin-right: 80px;
}

#y1960s-2000s .legend {
  position: absolute;
  left: 100%;
  top: 250px;
  margin-left: -100px;
  width: 420px;
  font-size: 16px;
}

#y1960s-2000s .videos {
  position: absolute;
  top: 0;
  left: 2190px;
  width: 930px;
}
#y1960s-2000s .videos > div {
  float: left;
  width: 48%;
}
#y1960s-2000s .videos iframe {
  margin-top: 50px;
}
#y1998 {
  margin: 0 500px 0 300px;
}

#y1998 h1 {
  background: url(../../imgs/tm/19-0.png) right bottom no-repeat;
  height: 420px;
  line-height: 420px;
  margin-right: 30px;
}
#y1998 .tm-content {
  min-width: 1100px;
}

#y2014 .tm-content {
  max-width: 900px;
  margin-right: 100px;
}
#y2014 .tm-year {
  width: 900px;
}
#y2014 .counter {
  position: absolute;
  margin-left: -30px;
  bottom: 8px;
}
#y2014 .tm-content p {
  padding-left: 190px;
}

.tm-item.the-end  {
  margin: 0 200px 0 400px;
}

/* Inner Page
-------------------------------------*/
.body-inner {
  min-width: 960px;
}
.inner-header {
  position: fixed;
  left: 85px;
  top: 160px;
  text-align: left;
  width: 122px
}
  .inner-header span {
    display: block;
  }
  .inner-no {
    font-size: 180px;
    font-weight: bold;
    line-height: .85;
    /*margin-left: -.1ex;*/
  }
  .inner-title {
    font-size: 24px;
    font-family: nanamithin;
  }
  .inner-person {
    font-weight: bold;
  }
.inner-page {
  margin-left: 220px;
  width: 740px;
}

.main-visual {
  margin: 0 0 120px;
}
.main-text {
  width: 45%;
  /*padding: 30px;*/
  height: 600px;
  overflow: scroll;
  font-family: verdana;
  line-height: 1.4;
  overflow: hidden;
}
  .main-question,
  .main-answer {
    margin-bottom: 2em;
  }
  .main-question {
    font-weight: bold;
  }
.main-image {
  float: left;
  width: 35%;
  margin-left: 4%;
}
  .main-image img {
    width: 100%;
  }
  .main-image img[src="imgs/wali/img-4.jpg"] {
    width: auto;
  }

/*
.future-predicts-fashion .main-visual {
  border: 1px dashed #000;
  height: 520px;
  margin: 0 0 40px;
  color: #f92424;
}

.future-predicts-fashion .main-visual-content-container {
  float: left;
  width: 62%;
  height: 100%;
}
.future-predicts-fashion .main-visual-content {
  width: 284px;
  padding-left: 80px;
}
.future-predicts-fashion .main-visual-content p {
  margin-bottom: 2em;
}
*/

.future-predicts-fashion .main-content {
  margin-top: -40px;
  height: 600px;
  position: relative;
}

.future-predicts-fashion .main-text {
  width: 470px;
  height: 100%;
  margin-right: 20px;
  padding-right: 30px;
  padding-bottom: 150px;
}

.future-predicts-fashion .main-text-banner {
  height: 100%;
  padding: 0 40px;
  color: #f92424;
  font-family: nanamibook;
}
  .future-predicts-fashion .main-text-banner-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

.future-predicts-fashion .main-text p {
  margin: 0 0 1em;
}

.future-predicts-fashion .main-image {
  width: 220px;
  height: 100%;
  position: relative;
}

.future-predicts-fashion .main-image img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
