@font-face {
  font-family: 'nanamibook';
  src: url('../type/nanami-book-webfont.eot');
  src: url('../type/nanami-book-webfont.eot?#iefix') format('embedded-opentype'),
       url('../type/nanami-book-webfont.woff2') format('woff2'),
       url('../type/nanami-book-webfont.woff') format('woff'),
       url('../type/nanami-book-webfont.ttf') format('truetype'),
       url('../type/nanami-book-webfont.svg#nanamibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'nanamibook';
  src: url('../type/nanami-bold-webfont.eot');
  src: url('../type/nanami-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../type/nanami-bold-webfont.woff2') format('woff2'),
       url('../type/nanami-bold-webfont.woff') format('woff'),
       url('../type/nanami-bold-webfont.ttf') format('truetype'),
       url('../type/nanami-bold-webfont.svg#nanamibold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'nanamithin';
  src: url('../type/nanami-thin-webfont.eot');
  src: url('../type/nanami-thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../type/nanami-thin-webfont.woff2') format('woff2'),
       url('../type/nanami-thin-webfont.woff') format('woff'),
       url('../type/nanami-thin-webfont.ttf') format('truetype'),
       url('../type/nanami-thin-webfont.svg#nanamibold') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  line-height: auto;
}
/**, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/
h1 {
  line-height: 1;
  font-weight: normal;
}
a {
  color: inherit;
  text-decoration: none;
}
html,
body {
  height: 100%;
}
body {
  font-family: nanamibook;
  margin: 50px;
}
ol {
  list-style: decimal-leading-zero;
}
.small-type {
  font-size: 15px;
}
/* Index Page
-------------------------------------*/
.index {
  width: 944px;
  height: 600px;
  margin: 100px auto;
}

.index-text {
  float: left;
  height: 100%;
  width: 45%;
  text-align: right;
  position: relative;
}

  .index-title {
    font-size: 72px;
    font-weight: bold;
    margin: 0 0 86px;
  }

  .index-issue-title {
    font-size: 14px;
    margin-bottom: 24px;
  }

  .index-list li {
    list-style: none;
    margin-bottom: 14px;
  }

  .index-tagline {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    font-weight: normal;
  }

.index-image-map {
  float: right;
  width: 48%;
  position: relative;
}
  .index-info-link {
    top: 0;
    right: 0;
    text-indent: 0!important;
  }
    .index-info-link > img {
      width: 30px;
    }
  .index-image-map-list {
    list-style: none;
  }
  .index-image-map a {
    position: absolute;
    text-indent: -9000px;
  }
  .index-image-map .time-machine {
    left: 143px;
    top: 0;
    height: 150px;
    width: 150px;
  }
  .index-image-map .spacewear {
    left: 143px;
    top: 164px;
    height: 155px;
    width: 150px;
  }
  .index-image-map .modern-utopia {
    left: 320px;
    top: 164px;
    height: 105px;
    width: 125px;
  }
  .index-image-map .future {
    left: 14px;
    top: 324px;
    height: 134px;
    width: 104px;
  }
  .index-image-map .observation {
    left: 143px;
    top: 324px;
    width: 150px;
    height: 145px;
  }
  .index-image-map .elizabeth {
    left: 320px;
    top: 278px;
    height: 166px;
    width: 125px;
  }
  .index-image-map .wali {
    left: 143px;
    top: 460px;
    height: 150px;
    width: 150px;
  }

.back-button {
  font-size: 12px;
  line-height: 12px;
  text-decoration: underline;
  position: fixed;
  left:4px;
  top:4px;
  z-index: 999;
}

/* 1. Time Machine
-------------------------------------*/
.horizontal-wrapper {
  white-space: nowrap;
  font-size: 0;
}
.horizontal-item {
  position: relative;
  display: inline-block;
  min-width: 400px;
  margin-right: 250px;
  height: 620px;
  font-size: 18px;
  vertical-align: middle;
}
/* Horizontal stuff
-------------------------------------*/
.tm-item::before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 1px;
  margin-right: -1px;
  vertical-align: middle;
  visibility: hidden;
}

.vertical-centered-container::before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 1px;
  margin-right: -1px;
  vertical-align: middle;
  visibility: hidden;
}

.vertical-centered {
  display: inline-block;
  vertical-align: middle;
}


/* Grid
-------------------------------------*/
.grid,
[class*='col-'] {
  box-sizing: border-box;

}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
[class*='col-'] {
  float: left;
  padding-right: 20px;
  min-height: 1px;
  overflow: hidden;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}
.col-1-2 {
  width: 50%;
}
.col-1-4 {
  width: 25%;
}
.col-3-4 {
  width: 75%;
}
.col-1-8 {
  width: 12.5%;
}
.bottom {
  margin-bottom: 30px;
}

/* Splash page */
.tm-splash {
  min-width: 1100px;
  margin-right: 20%;
}
.tm-splash-title {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  color: #EC8333;
}
  .tm-splash-title span {
    color: #000;
  }
  .tm-splash-intro {
    position: absolute;
    bottom: 0;
    left: 20%;
  }
  .tm-control-panel {
    position: absolute;
    top: 16px;
    right: 3%;
    overflow: hidden;
    width: 600px;
    height: 600px;
    border-radius: 310px;
    border: 2px solid black;
  }
  .tm-control-panel a {
    position: absolute;
    font-size: 22px;
    margin-left: -30px;
  }
  /* 1551 */
  .tm-control-panel a:nth-child(1) {
    left: 220px;
    top: 80px;
  }
  /* 1800 */
  .tm-control-panel a:nth-child(2) {
    left: 315px;
    top: 60px;
  }
  /* 1830 */
  .tm-control-panel a:nth-child(3) {
    left: 420px;
    top: 90px;
  }
  /* 1851 */
  .tm-control-panel a:nth-child(4) {
    left: 310px;
    top: 140px;
  }
  /* 1860 */
  .tm-control-panel a:nth-child(5) {
    left: 220px;
    top: 180px;
  }
  /* 1881 */
  .tm-control-panel a:nth-child(6) {
    left: 400px;
    top: 180px;
  }
  /* 1890 */
  .tm-control-panel a:nth-child(7) {
    left: 490px;
    top: 160px;
  }
  /* 1910 */
  .tm-control-panel a:nth-child(8) {
    left: 300px;
    top: 250px;
  }
  /* 1930 */
  .tm-control-panel a:nth-child(9) {
    left: 100px;
    top: 220px;
  }
  /* 1931 */
  .tm-control-panel a:nth-child(10) {
    left: 120px;
    top: 390px;
  }
  /* 1950 */
  .tm-control-panel a:nth-child(11) {
    left: 300px;
    top: 400px;
  }
  /* 1960 */
  .tm-control-panel a:nth-child(12) {
    left: 470px;
    top: 350px;
  }
  /* 1998 */
  .tm-control-panel a:nth-child(13) {
    left: 150px;
    top: 450px;
  }
  /* 2014 */
  .tm-control-panel a:nth-child(14) {
    left: 400px;
    top: 500px;
  }
/* Intro */
.tm-intro {
  padding-left: 0!important;
  min-width: 600px;
}
.tm-quote {
  margin: 0 0 120px;
}
  .tm-quote h1 {
    background: url(../../imgs/tm/1.png) no-repeat;
    padding: 20px 0 0 100px;
    color: #EC8333;
    font-weight: normal;
    margin: 50px 0 30px -100px;
  }
  .tm-quote cite {
    font-size: 20px;
    font-style: normal;
  }
/* Years */
.tm-year {
  font-size: 5em;
  width: 600px;
  text-align: center;
}
.tm-content {
  white-space: normal;
  line-height: 1.5;
  min-width: 400px;
  max-width: 620px;
}
.tm-content img {
  margin-bottom: 30px;
}

#y1551 {
  min-width: 600px;
}

#y1800 {
  min-width: 1000px;
}
  #y1800 h1 {
    background: url(../../imgs/tm/3.png) no-repeat;
    padding: 30px 0;
    margin: 0 100px 0 -30px;
    width: 520px;
  }
  #y1800 .tm-content {
    max-width: 700px;
    /*border-left: 2px solid #ddd;*/
    margin-left: 50px;
    padding-left: 50px;
  }
  #y1800 .module {
    margin-right: 40px;
  }
  #y1800 .module img {
    width: 100%;
  }

#y1830 .tm-content {
  border: 2px solid #000;
  padding: 1em;
  min-width: 800px;
  background: url(../../imgs/tm/5.png) 65% 50% no-repeat;
}

#y1851 h1 {
  background: url(../../imgs/tm/1.png) repeat;
  padding: 40px;
  padding-right: 180px;
  margin-right: -100px;
  width: auto;
}

#y1860 h1 {
  background: url(../../imgs/tm/7-0.png) no-repeat;
  padding: 120px 0;
  width: 443px;
}

#y1881 h1 {
  background: url(../../imgs/tm/8-0.png) no-repeat;
  height: 446px;
  line-height: 446px;
  width: 450px;
  text-align: left;
}

#y1881 .banner {
  position: relative;
}
#y1881 .banner img {
  margin: 0;
}
#y1881 .banner p {
  position: absolute;
  bottom: 45px;
  left: 90px;
  right: 90px;
  text-align: center;
}
#y1881 div:nth-child(3) {
  width: 350px;
  color: #ff9400;
  text-align: justify;
  line-height: 2;
  margin-left: 120px;
}

#y1890 h1 {
  background: url(../../imgs/tm/9-0.png) center right no-repeat;
  padding: 20px 50px;
  width: 320px;
  margin-right: 40px;
  margin-left: -50px;
}

#y1890 .tm-content {
  vertical-align: bottom;
  width: 380px;
  line-height: 1.75;
}

#y1910 h1 {
  background: url(../../imgs/tm/9-0.png) center no-repeat;
  padding: 20px 0;
}

#y1910 .tm-content {
  max-width: 900px;
}
#y1910 .legend {
  margin-bottom: 40px;
}

#y1930 h1 {
  background: url(../../imgs/tm/12.png) center no-repeat;
  padding: 23px;
  margin-left: -240px;
}

#y1930 .caption {
  position: absolute;
  margin-left: -34px;
  top: 75%;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#y1930 .tm-content {
  max-width: 854px;
  vertical-align: bottom;
  margin-right: 60px;
}
#y1930 .tm-content:nth-child(3) {
  max-width: 600px
}

#y1930s h1 {
  background: url(../../imgs/tm/12.png) left no-repeat;
  padding: 30px 0 30px 134px;
  margin-left: -300px;
}

#y1930s .tm-content {
  max-width: 770px
}

#y1960s-2000s .tm-year {
  background: url(../../imgs/tm/16.png) center bottom no-repeat;
  height: 600px;
  line-height: 600px;
  width: 1000px;
}

#y1960s-2000s .tm-content {
  position: relative;
  max-width: 900px;
}
#y1960s-2000s .tm-content:nth-child(2) {
  margin-right: 300px;
}
#y1960s-2000s .tm-content:nth-child(3) {
  vertical-align: bottom;
  margin-right: 80px;
}

#y1960s-2000s .legend {
  position: absolute;
  left: 100%;
  top: 250px;
  margin-left: -100px;
  width: 420px;
  font-size: 16px;
}

#y1960s-2000s .videos {
  position: absolute;
  top: 0;
  left: 2190px;
  width: 930px;
}
#y1960s-2000s .videos > div {
  float: left;
  width: 48%;
}
#y1960s-2000s .videos iframe {
  margin-top: 50px;
}
#y1998 {
  margin: 0 500px 0 300px;
}

#y1998 h1 {
  background: url(../../imgs/tm/19-0.png) right bottom no-repeat;
  height: 420px;
  line-height: 420px;
  margin-right: 30px;
}
#y1998 .tm-content {
  min-width: 1100px;
}

#y2014 .tm-content {
  max-width: 900px;
  margin-right: 100px;
}
#y2014 .tm-year {
  width: 900px;
}
#y2014 .counter {
  position: absolute;
  margin-left: -30px;
  bottom: 8px;
}
#y2014 .tm-content p {
  padding-left: 190px;
}

.tm-item.the-end  {
  margin: 0 200px 0 400px;
}

/* Inner Page
-------------------------------------*/
.body-inner {
  min-width: 960px;
}
.inner-header {
  position: fixed;
  left: 85px;
  top: 160px;
  text-align: left;
  width: 122px
}
  .inner-header span {
    display: block;
  }
  .inner-no {
    font-size: 180px;
    font-weight: bold;
    line-height: .85
    /*margin-left: -.1ex;*/
  }
  .inner-title {
    font-size: 24px;
    font-family: nanamithin;
  }
  .inner-person {
    font-weight: bold;
  }
.inner-page {
  margin-left: 220px;
  width: 740px;
}

.main-visual {
  margin: 0 0 120px;
}
.main-text {
  width: 45%;
  /*padding: 30px;*/
  height: 600px;
  font-family: verdana;
  line-height: 1.4;
  overflow: hidden;
}

  .main-text p {
    margin: 0 0 16px;
  }
  .main-text a {
    text-decoration: underline;
  }
  .main-question,
  .main-answer {
    margin-bottom: 2em;
  }
  .main-question {
    font-weight: bold;
  }
.main-image {
  float: left;
  width: 35%;
  margin-left: 4%;
}
  .main-image img {
    width: 100%;
  }

.scrollable {
  margin:0;
}
.scrollable .inner-header {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.scrollable .inner-page {
  height: 100%;
}
.scrollable .main-text {
  width: 340px;
  height: auto;
  margin-left: 40px;
  overflow: visible;
}
.scrollable .main-image {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 620px;
  width: 220px;
}

.scrollable .main-text > *:last-child {
  padding-bottom: 200px;
}

/* 2. Spacewear */
.spacewear .inner-no {
  background: url(../../imgs/spacewear/count.png) left top no-repeat;
  text-indent: -9999px;
  min-height: 193px;
  margin-bottom: 10px;
  margin-left: -10px;
}

.spacewear .inner-person {
  font-size:24px;
}

.spacewear .main-text-banner {
  color:#b90000;
  font-family: nanamibook;
  margin: 300px 0;
  width: 320px;
  position: relative;
}

 .spacewear-animation {
  position: absolute;
  top: 50%;
  margin-top: -182px;
  background: url(../../imgs/spacewear/2.gif);
  right: -335px;
  width: 365px;
  height: 365px;
}

.spacewear .main-text {
  width: 420px;
}
.spacewear .main-image {
  left: 700px;
  width: 360px;
}

/* 3. Modern Utopia */
body.modern-utopia {
  margin: 0;
  min-width: 0;
}
.modern-utopia .inner-page {
  width: 100%;
  height: 100%;
  margin: 0;
}
  .modern-utopia-page {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
    background-position: fixed;
    background-repeat: no-repeat;
  }

  .modern-utopia-page::before,
  .modern-utopia-page::after {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
    width: 15%;
    top: 0;
    bottom: 0;
    content: '';
  }

  /* left */
  .modern-utopia-page::before {
    left: 0;
    background-image: url(../../imgs/modern-utopia/left.png);
  }

  /* right */
  .modern-utopia-page::after {
    right: 0;
    background-image: url(../../imgs/modern-utopia/right.png);
  }
  .modern-utopia-page video {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  .modern-utopia-page.current {
    display: block;
  }

  .modern-utopia-page-1 {
    background-image:url(../../imgs/modern-utopia/1.jpg);
  }
  .modern-utopia-page-2 {
    background-image:url(../../imgs/modern-utopia/2.jpg);
  }
  .modern-utopia-page-3 {
    background-image:url(../../imgs/modern-utopia/3.jpg);
  }
  .modern-utopia-page-4 {
    background-image:url(../../imgs/modern-utopia/4.video2.jpg);
  }
  .modern-utopia-page-5 {
    background-image:url(../../imgs/modern-utopia/5.jpg);
  }
  .modern-utopia-page-6 {
    background-image:url(../../imgs/modern-utopia/6.jpg);
  }
  .modern-utopia-page-7 {
    background-image:url(../../imgs/modern-utopia/7.video3.jpg);
  }
  .modern-utopia-page-8 {
    background-image:url(../../imgs/modern-utopia/8.jpg);
  }
  .modern-utopia-page-9 {
    background-image:url(../../imgs/modern-utopia/9.video4.jpg);
  }
    .modern-utopia-page-9 video {
      width: 320px;
      min-height: 0;
      min-width: 0;
    }
/* 4. Future Predicts Fashion */
.future-predicts-fashion .inner-no {
  background: url(../../imgs/6/count.png) left top no-repeat;
  background-size: 106px;
  text-indent: -9999px;
  min-height: 153px;
}

.future-predicts-fashion .main-text-banner {
  padding: 0 40px;
  color: #f92424;
  font-family: nanamibook;
  width: 100%;
  padding-right: 100%;
  background: url(../../imgs/6/visual.png) right center no-repeat;
}
  .future-predicts-fashion .main-text-banner-content {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }



/* 5. Observation Manual */
.observation-manual .inner-no {
  background: url(../../imgs/5/1.png) left top no-repeat;
  text-indent: -9999px;
  min-height: 182px;
  margin-bottom: 10px;
}

.observation-manual .inner-person {
  font-size: 24px;
}

.observation-manual .main-content {
  background: url(../../imgs/5/bg.jpg) left top no-repeat;
  width: 770px;
}

.observation-manual .intro {
  width: 180px;
  min-height: 1006px;
  padding: 50px 0 0 40px;
}
.observation-manual .intro a {
  text-decoration: underline;
}

.observation-manual dd {
  margin: 10px;
}

/* 6. Elizabeth Wilson */
.elizabeth-wilson .inner-no {
  background: url(../../imgs/elizabeth/count.png) left top no-repeat;
  text-indent: -9999px;
  min-height: 182px;
  margin-bottom: 10px;
}
.elizabeth-wilson iframe {
  margin: 0 0 10px;
}

.elizabeth-wilson .main-content {
  line-height: 1.8;
}

.elizabeth-wilson .big {
  font-size: 1.5em;
  line-height: 1;
}
.elizabeth-wilson .black {
  color: #000;
}

/* 7. Wali */
.wali .inner-no {
  background: url(../../imgs/wali/count.png) left top no-repeat;
  background-size: 86px;
  text-indent: -9999px;
  min-height: 160px;
}

.wali-main-image {
  margin: 150px 0;
}

.wali img[src='imgs/wali/img-4.jpg'] {
  width: 150px;
}
